<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>487400574928-odfgo77foqdlhuj3o201nj67hct2rutg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.487400574928-odfgo77foqdlhuj3o201nj67hct2rutg</string>
	<key>API_KEY</key>
	<string>AIzaSyDt9tGasjLYS4bm2JpQz8DTeJ78rRuSAYM</string>
	<key>GCM_SENDER_ID</key>
	<string>487400574928</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.minChat</string>
	<key>PROJECT_ID</key>
	<string>henry-test-2</string>
	<key>STORAGE_BUCKET</key>
	<string>henry-test-2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:487400574928:ios:955273aa0855ce845533d5</string>
	<key>DATABASE_URL</key>
	<string>https://henry-test-2.firebaseio.com</string>
</dict>
</plist>